@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    color: white;
}

body {
    background: #002B2B;
    background: linear-gradient(122deg, rgba(0, 43, 43, 1) 0%, rgba(7, 0, 22, 1) 50%, rgba(54, 0, 94, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
}

.video-array {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-item {
    width: 24em;
}

.video-item>h2 {
    font-size: 1em;
    opacity: 0.5;
    text-align: center;
    margin-top: 2em;
}

.video-item>img {
    /* Should take up the entire space in the grid cell */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    box-shadow: 0 20px 30px black;
}

.title {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title > img {
    width: 100%;
    height: auto;
    max-width: 8em;
}

.ai-guard {
    background-color: rgba(128, 128, 128, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 32px;
    padding: 1em;
    display: flex;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.ai-guard > .left {
    flex: 1;
    display: flex;
    align-items: start;
}

.ai-guard > .left > img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.ai-guard > .right {
    flex: 10;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.ai-guard > .right > h2 {
    opacity: 0.75;
    margin-top: .25em;
}

.ai-guard > .right > p {
    transition: 1s ease-in-out;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
